<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="SharedSitecore.Forms.Fields.DropDownPlus" dependencies="SharedSitecore.Foundation" patch:after="configuration[@name='SharedSitecore.Foundation']">
					<targetDataStore physicalRootPath="$(sourceFolder)\SharedSitecore\Forms\Fields\SharedSitecore.Forms.Fields.DropDownPlus\items" useDataCache="false" singleInstance="true"/>
					<predicate>
						<include name="PropertyGridForm" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/SharedSitecore/DropDownPlus" />
						<include name="Templates" database="master" path="/sitecore/templates/System/Forms/Fields/SharedSitecore/DropDownPlus" />
						<include name="Settings-Forms-FieldTypes" database="master" path="/sitecore/system/Settings/Forms/Field Types/SharedSitecore/DropDownPlus" />
						<include name="Forms" database="master" path="/sitecore/Forms/SharedSitecore/Forms/Fields/DropDownPlus"/>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>