<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<forms.executeSubmit>
				<processor type="SharedSitecore.Forms.Fields.DropDownPlus.Pipelines.ExecuteSubmit, SharedSitecore.Forms.Fields.DropDownPlus"
						   patch:before="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc']" resolve="true">
					<FieldId>{3B49C8D4-291A-4DB3-B140-3C99E06407F8}</FieldId>
				</processor>
			</forms.executeSubmit>
			<forms.renderField>
				<processor type="SharedSitecore.Forms.Fields.DropDownPlus.Pipelines.RenderField.RenderFieldView, SharedSitecore.Forms.Fields.DropDownPlus"
				patch:after="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderField.RenderFieldView, Sitecore.ExperienceForms.Mvc']" resolve="true"/>
			</forms.renderField>
		</pipelines>
	</sitecore>
</configuration>